.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Added CSS for Registration */
body {
  background: #466368;
  background: linear-gradient(to bottom, #1d976c, #93f9b9, #fff);
  border-radius: 6px;
  background-repeat: no-repeat;
}

.account-wall {
  margin-top: 50%;
  margin-bottom: 55px;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.form-login {
  padding: 30px;
}

.inputTextField {
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.inputText {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.form-registration {
  padding: 30px;
}

.dmenu {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

option {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}
